In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import datetime
import transbigdata as tbd
import regex as re

In [6]:
GPS= pd.read_csv('GPS.csv',header=0)
#Convert the time column to datetime type
GPS = GPS.drop(GPS.columns[0], axis=1)
# set the display.max_columns option to None
pd.set_option('display.max_columns', None)
GPS

,VehicleId,GPSDateTime,lat,lon,ID,Speed,motion,DistanceGap,totaldistance
0,19010,2023-03-14 00:00:00,36.172869,5.458638,19010,0.0,False,0.0,6948552.77
1,19010,2023-03-14 00:00:10,36.172869,5.458638,19010,0.0,False,0.0,6948552.77
2,19010,2023-03-14 00:00:20,36.172869,5.458638,19010,0.0,False,0.0,6948552.77
3,19010,2023-03-14 00:00:30,36.172869,5.458638,19010,0.0,False,0.0,6948552.77
4,19010,2023-03-14 00:00:40,36.172869,5.458638,19010,0.0,False,0.0,6948552.77
...,...,...,...,...,...,...,...,...,...
8701,19010,2023-03-14 23:59:17,36.177235,5.460319,19010,0.0,False,0.0,7091956.03
8702,19010,2023-03-14 23:59:27,36.177235,5.460319,19010,0.0,False,0.0,7091956.03
8703,19010,2023-03-14 23:59:37,36.177235,5.460319,19010,0.0,False,0.0,7091956.03
8704,19010,2023-03-14 23:59:47,36.177235,5.460319,19010,0.0,False,0.0,7091956.03
8705,19010,2023-03-14 23:59:57,36.177235,5.460319,19010,0.0,False,0.0,7091956.03

In [7]:
GPS['GPSDateTime']=pd.to_datetime(GPS['GPSDateTime'])
GPS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8706 entries, 0 to 8705
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   VehicleId      8706 non-null   int64
 1   GPSDateTime    8706 non-null   datetime64[ns]
 2   lat            8706 non-null   float64
 3   lon            8706 non-null   float64
 4   ID             8706 non-null   int64
 5   Speed          8706 non-null   float64
 6   motion         8706 non-null   bool
 7   DistanceGap    8706 non-null   float64
 8   totaldistance  8706 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(5), int64(2)
memory usage: 552.8 KB

In [8]:

# Filter the data for VehicleId 19010 and March 14
df = GPS['GPSDateTime'].dt.date == pd.to_datetime('2023-03-14').date()

# Print the selected data
df.to_csv("GPS.csv")